<%= form_for([:dashboard, @profile]) do |f| %>
  <div class="field">
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.submit 'Atualizar Avatar', class: 'btn btn-primary btn-lg top' %>
  </div>
<% end %>