<div class="field">
  <%= image_tag(@profile.avatar, width: 124, height: 124, style: 'border-radius: 124px;') %>
</div>
<div class="field">
  <h4 class="bold">Bio</h4>
  <p><%= @profile.bio %></p>
</div>
<div class="field">
  <%= link_to 'Editar Perfil',
              edit_dashboard_profile_path,
              class: 'btn btn-primary btn-lg top' %>
</div>